torch
torchvision
zennit-crp
h5py
timm
gdown
pytorch-lightning
pandas
opencv-python
wandb
scikit-learn
albumentations
torch-lucent
captum
fast-slic
seaborn
plotly
umap-learn
ipywidgets
ipykernel
nbformat
dash
corelay[hdbscan]